<!---- Plantilla para el correo electrónico que contiene el enlace para restablecer la contraseña. ---->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restablecimiento de Contraseña</title>
</head>
<body>
<h1>Solicitud de Restablecimiento de Contraseña</h1>
<p>Hola,</p>
<p>Recibiste este correo porque se solicitó un restablecimiento de contraseña para tu cuenta.</p>

<p>Haz clic en el siguiente enlace para restablecer tu contraseña:</p>
<a th:href="${resetUrl}" th:text="${resetUrl}">Restablecer Contraseña</a>
<p>Si tienes problemas con el enlace, copia y pega la URL en tu navegador.</p>

<br>
<p>Si no solicitaste este restablecimiento, puedes ignorar este correo.</p>
<p>Saludos,</p>
<p>El equipo de soporte</p>
</body>
</html>
